<%- include("partials/header") %>

<div class="container mt-2">
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds</h1>
            <p>View campsights from all over the world</p>
            <hr class="my-4">
            <p>
                <a class="btn btn-primary btn-md mb-2" href="/campgrounds/new" role="button">Enter a New Campground</a> <a class="btn btn-primary btn-md mb-2" href="/" role="button">Back to Home Page</a>
            </p>
        </div>
    </header>

<div class="d-flex justify-content-around flex-wrap">
    <% campgrounds.forEach(function(campground) { %>
        <div class="card mb-5" style="width: 18rem;">
            <img src="<%= campground.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center"><%= campground.name %></h5>
                <p class="card-text">Here is where some text can go as a description for this campground.</p>
            </div>
        </div>
    <% }) %>
</div>

</div>

<%- include("partials/footer") %>