<%- include("partials/header") %>

<div class="container mt-2">
<header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>
    <p>A place to checkout the world's campgrounds</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-md" href="campgrounds" role="button">View Campgrounds</a>
</header>
</div>

<%- include("partials/footer") %>